<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>게시글 상세 페이지</title>
</head>

<body>
    <h1 style="text-align: center; margin: 20px auto;">게시글 상세 페이지</h1>

    <div class="article mx-auto mt-2" style="width: 38rem;">
        <h5 class="card-title text-start" id="article_title"></h5>
        <div>
            <span id="author_info"></span>
            <span id="views"></span>
            <span id="likes"></span>
        </div>
        <div class="card  border border-dark">
            <img id="article_image" src="/static/images/together_logo.PNG" class="card-img-top" alt="...">
            <div class="card-body border border-dark">
                <p class="card-text" content></p>
            </div>
        </div>
    </div>
    <div class="comment-box mx-auto mt-2" style="width: 38rem;">
        <div class="d-flex mt-3 mb-4">
            <input type="text" class="form-control w-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="댓글을 입력해주세요">
            <button type="button" class="btn btn-warning w-25" style="margin: auto; display: block;" onclick="handleCommentCreate()">작성하기</button>
        </div>
        <div class="card-body border border-dark">
            <p>댓글입니다~~~~~~~~~~~~~~~~</p>
            <p>댓글입니다~~~~~~~~~~~~~~~~</p>
            <p>댓글입니다~~~~~~~~~~~~~~~~</p>
        </div>
    </div>
</body>
<script src="/static/js/api.js"></script>
<script src="/static/js/article_detail.js"></script>
</html>