<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workshop</title>


    <link rel="stylesheet" href="/css/main/community.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="navbar">
        <h1>Togeduck</h1>
    </div>
    <div class="summary">서비스 소개글과 이미지</div>
    <section class="main">
        <section class="category">
            <div class="menubar">
                <span class="menu">Workshop</span>
                <span class="select_menu">Community</span>
                <span style="float: right; margin: auto;">
                    <span class="sort">최신순</span>
                    <span class="sort">인기순</span>
                </span>
            </div>
            <div class="hobbys" id="hobbys"></div>
        </section>
        <section class="content" id="content_section">
            <div class="sub_info" id="best_article_box">
                <span class="fs-3 fw-bold" id="testspan">전체 카테고리 TOP 10 게시글 </span>
                <table class="table mt-3">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 12%;">
                        <col style="width: 35%;">
                        <col style="width: 15%;">
                        <col style="width: 15%;">
                        <col style="width: 8%;">
                        <col style="width: 5%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead class="table-dark">
                        <tr align="center">
                            <th scope="col">번호</th>
                            <th scope="col">카테고리</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일자</th>
                            <th scope="col">작성시간</th>
                            <th scope="col">추천</th>
                            <th scope="col">조회</th>
                        </tr>
                    </thead>
                    <tbody align="center" id="best_article_list"></tbody>
                </table>
            </div>
            <div class="article-box mt-5" id="article_box">
                <span class="fs-3 fw-bold" id="article_box_span">카테고리별 게시글</span>
                <button type="button" class="btn btn-warning mt-3" onclick="ArticleCreatePage()">게시글 작성</button>
                <table class="table w-100 mt-4">
                    <colgroup>
                        <col style="width: 5%;">
                        <col style="width: 12%;">
                        <col style="width: 35%;">
                        <col style="width: 15%;">
                        <col style="width: 15%;">
                        <col style="width: 8%;">
                        <col style="width: 5%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead class="table-dark">
                        <tr align="center">
                            <th scope="col">번호</th>
                            <th scope="col">카테고리</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일자</th>
                            <th scope="col">작성시간</th>
                            <th scope="col">추천</th>
                            <th scope="col">조회</th>
                        </tr>
                    </thead>
                    <tbody align="center" id="article_list"></tbody>
                </table>
            </div>
            <div class="pagination">페이지네이션 번호 (1, 2, 3 ...)</div>
        </section>
    </section>
    <footer class="footer">copyrightⓒ 2022 All rights reserved by team HOT6.</footer>
    <script src="/js/global.js"></script>
    <script src="/js/main/api.js"></script>
    <script src="/js/main/community.js"></script>
</body>
</html>