<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet" href="../../css/main/workshop_detail.css">
    <link rel="stylesheet" href="../../chats/css/test.css">
    <link rel="stylesheet" href="../../css/main/navbar.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Document</title>
  </head>

  <body style="background-color: rgb(250, 250, 249);">
    <header style="display: none;"></header>
    <div>
      <div class="container">
        <div class="card-container">
          <div class="contact-card">
            <div id="workshop_image_">
              <img id="workshop_image" class="form-input"></img>
              <div>
                <button id="liked" onclick="Like_post()" type="button" class="btn_like">
                  <span class="img_emoti">좋아요</span>
                  <span class="ani_heart_m"></span>
                </button>
              </div>
            </div>

            <div id="put_delete_box"></div>
            <div id="chat_button_wrap"></div>

            <div>
              <div class="w_item">
                <span class="column">제목</span>
                <span id="title">제목</span></div>
              <div class="w_item">
                <span class="column">카테고리</span>
                <span id="category">카테고리</span></div>
              <div class="w_item">
                <span class="column">내용</span>
                <span id="content">내용</span></div>
              <div class="w_item">
                <span class="column">모집인원</span>
                <span id="max_guest">모집인원</span></div>
              <div class="w_item">
                <span class="column">참가인원</span>
                <span id="participant_count">참가인원</span></div>
              <div class="w_item">
                <span class="column">참가비</span>
                <span id="amount">참가비</span></div>
              <div class="w_item">
                <span class="column">워크샵 날짜</span>
                <span id="date">워크샵 날짜</span></div>
              <div class="w_item">
                <span class="column">지역</span>
                <span id="location">지역</span></div>
              <div class="w_item">
                <span class="column">상세주소</span>
                <span id="address">상세주소</span></div>
              <div class="w_item">
                <span class="column">워크샵 호스트</span>
                <span id="host">워크샵 호스트</span></div>
              <div class="w_item">
                <span class="column">좋아요 수</span>
                <span id="likes_count">좋아요 수</span></div>
            </div>
            <div class="contact-card">

              <div class="parent-container animate-parent is-visible" style="height: 500px;">
                <a href="#" id="show" onclick="return false" style="display:none">Show Comments</a>
                <a href="#" id="hide" onclick="return false">Hide Comments</a>
                <div class="view-more-wrapper">
                  <div class="view-more">
                    <a id="show" onclick="return false" style="display:none" class="view-more__link show-comments" href="#">View comments</a>
                    <span id="review_workshop_count" class="view-more__count display-count">0</span>
                  </div>

                  <div class="comment-area comment-box active">
                    <form class="comment-form">
                      <input id="review_post" class="comment-form__field comment-field">
                      <button id="review_button" type="button" class="comment-form__submit submit-comment" onclick="workshop_review_POST(workshop_id)">Comment</button>
                    </form>
                  </div>
                </div>
                <div id="list" class="comment-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <chat></chat>
    <script src="../../js/global.js"></script>
    <script src="../../js/main/workshop_api.js"></script>
    <script src="../../js/user/mypage_api.js"></script>
    <script src="../../js/main/workshop_detail.js"></script>
    <script src="../../chats/modal_socket.js"></script>
    <script src="../../chats/modal_socket_api.js"></script>
  </body>

</html>