<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workshop</title>

    <script src="../../js/global.js"></script>
    <script src="../../js/main/workshop_api.js"></script>
    <script src="../../js/main/workshop.js"></script>

    <script src="../../chats/modal_socket.js"></script>
    <script src="../../chats/modal_socket_api.js"></script>

    
    <link rel="stylesheet" href="../../css/main/main.css">
    <link rel="stylesheet" href="../../css/main/navbar.css">
    <link rel="stylesheet" href="../../css/main/workshop.css">
    <link rel="stylesheet" href="../../chats/css/test.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header></header>
    <!-- <nav class="navbar">
        <span class="service_name" onclick="main_page_move()">Togeduck</span>
        <ul class="nav_menu" id="nav_menu">
            <li id="signup" onclick="window.location.href='../user/login_signup.html'">회원가입</li>
            <li id="login" onclick="window.location.href='../user/login_signup.html'">로그인</li>
            <li id="user_email" style="cursor:default;"></li>
        </ul>
    </nav> -->
    <div class="summary">
        <div class="intro">Let's enjoy together</div>
        <div class="intro_content">Togeduck과 함께 취미를 공유해보세요</div>
        <div class="summary_img_frme">
            <!-- <img class="summary_img" src="https://velog.velcdn.com/images/def3ff/post/76fbfbab-3f18-4c7b-ba9b-92a1599db4cd/image.png"> -->
        </div>
    </div>

    <section class="main">
        <section class="category">
            <div class="menubar">
                <span class="select_menu" onclick="main_page_move()">Workshop</span>
                <span class="menu" onclick="window.location.href='../main/community_test.html'">Community</span>
                <span style="float: right; margin: auto;">
                    <span class="sort">최신순</span>
                    <span class="sort">인기순</span>
                    <span class="create_button" onclick="window.location.href='../main/workshop_posting.html'">워크샵 생성</span>
                </span>
            </div>
            <div class="hobbys" id="hobbys">
                <!-- <button type="button" class="hobby">핸드메이드</button> -->
            </div>
        </section>
        
        <div class="sub_info" id="sub_info">
            <div>인기 워크샵</div>
            <div class="popular_workshops_wrap" id="popular_workshops_wrap">
                <!-- <div class="popular_workshop" id="popular_workshop" onclick="">
                    <div class="popular_workshop_img_frame">
                        <img class="popular_workshop_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ_Rk0RYE5Wpe1RzOK1FgkVBojQGQgd8zbog&usqp=CAU">
                    </div>
                    <div class="popular_workshop_hobby">카테고리</div>
                    <div class="popular_workshop_title">제목</div>
                </div> -->
            </div>
        </div>
        <section class="content" id="content">
            <div class="gridbox" id="gridbox">
                <!-- <div class="workshop" style="background-color: #ffffff;">
                    <div class="workshop_img_frame">
                        <img class="workshop_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ_Rk0RYE5Wpe1RzOK1FgkVBojQGQgd8zbog&usqp=CAU">
                    </div>
                    <div class="title">한강 완주하기</div>
                    <span class="local">강원도</span>
                    <span class="local">스포츠</span>
                    <span class="local">날짜</span>
                    <span class="local">시간</span>
                </div> -->
            </div>
            <div class="pagination">
                <div class="page_numbers" id="page_numbers">
                    <!-- <button type="button" class="page_number">1</button> -->
                </div>
            </div>
            <div class="none_box_wrap" id="none_box_wrap">
                <!-- <div class="none_box" id="none_box">선택하신 카테고리의 워크샵이 없습니다</div> -->
            </div>
        </section>
    </section>
    <footer class="footer">copyrightⓒ 2022 All rights reserved by team HOT6.</footer>


    <chat>
      <div class="modal" id="modal">
          <div class="modal__dialog">
            <div class="modal__close" onclick="close_modal()">
              <a href="#" class="modal__icon">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
              <span class="modal__note" id="modal__note">X</span>
            </div>
            <div class="modal__content chat">
              <div class="modal__sidebar">
                <div class="chat__search search">
                  <div class="search">
                    <div class="search__icon">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <!-- <input type="search" class="search__input" placeholder="🔍search">
                    <div class="search__icon search__icon_right">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div> -->
                  </div>
                </div>
                <div class="chat__users">
                  <ul class="users" id="create_opponent_user_list">
      
                  </ul>
                </div>
              </div>
              <div class="modal__main">
                <div class="chatbox">
                  <div class="chatbox__row">
                    <div class="head">
                      <div class="head__avatar avatar avatar_larger">
                        <a href="#" class="avatar__wrap">
                        </a>
                      </div>
                      <div class="head__title">채팅중인 상대방 이름</div>
                      <div class="head__note">
                        <span>뭔가 들어갈 자리</span>
                        <!-- <span class="head__icon"></span> -->
                      </div>
                    </div>
                  </div>
                  <div class="chatbox__row chatbox__row_fullheight" id="chatbox__scroll">
                    <!-- 메세지가 담기는 class 여기 밑으로 append child 해주면 됨 -->
                    <div class="chatbox__content" id="chatbox__content">
      
                    </div>
                  </div>
                  <div class="chatbox__row">
                    <div class="enter">
                      <div class="enter__submit">
                        <button class="button button_id_submit" type="submit" onclick="send_message_each_room_button()">
                          <i class="fa fa-paper-plane" aria-hidden="true">✉</i>
                        </button>
                      </div>
                      <div class="enter__textarea">
                        <textarea name="enterMessage" id="enterMessage" cols="30" rows="2" placeholder="메세지를 입력해 주세요..." onkeyup="sumit_send_message_Enterkey()"></textarea>
                      </div>
                      <div class="enter__icons">
                        <a href="#" class="enter__icon">
                          <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="enter__icon">
                          <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="chat_button" onclick="modal_view()">
        <span class="material-symbols-outlined" id="chat_icon">forum</span>
      </div>
    </chat>
</body>
</html>