<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/main/workshop_detail.css">
    <title>Document</title>
</head>
<body>
    
            <div>
                
                <div class="container">
                  <div class="card-container">
                  <div class="contact-card">
                  <h2>Haykel Mkaddem</h2>
                  
                  <div >
                    <div class="form-input">
                      <label for="file-ip-1">
                        <img
                          id="file-ip-1-preview"
                          src="https://i.ibb.co/ZVFsg37/default.png"
                        />
                        <button
                          type="button"
                          class="imgRemove"
                          onclick="myImgRemove(1)"
                        ></button>
                      </label>
      
                      <input
                        type="file"
                        class="real-upload"
                        name="img_one"
                        id="file-ip-1"
                        accept="image/*"
                        onchange="showPreview(event, 1);"
                      />
                    </div>
                    <img id="workshop_image" class="form-input"></img>
                    <button onclick="workshop_put()" >워크샵 수정</button>
                    
                </div>
                  <h3 class="icon-3d">
                    ( Ingénieur informatique )
                  </h3>
                </div>

                <div class="contact-card">
                  <h1>réseaux sociaux :</h1>

                  <div >
                    <p id="category">카테고리</p>
                </div>
                <div >
                    <p id="likes_count">좋아요 수</p>
                </div>
                <div >
                 <!-- <button style="border: none; background: none; margin-top: 3px;"><img onclick="Like_post()" style="width: 20px; height: 20px; margin: 5px 10px 0 0;" src="../static/icon/heart.png" /></button>-->
                  <i onclick="Like_post()" id="like" > 종아유</i>
                  <p id="like">좋아요</p>
              </div>
                  <div class="flex-center">
                     <a href="">
                      <i class='bx bxl-facebook icon-3d'></i>
                     </a>
                     <a href="">
                      <i class='bx bxl-instagram icon-3d' ></i>
                     </a>
                     <a href="">
                      <i class='bx bxl-twitter icon-3d' ></i>
                     </a>
                     <a href="">
                      <i class='bx bxl-linkedin icon-3d' ></i>
                     </a>
                     <a href="">
                      <i class='bx bxl-github icon-3d' ></i>
                     </a>
                  </div>
                  </div>

                  <div class="contact-card">
                    <div >
                        <p id="host">호스트</p>
                    </div>
                    <div >
                        <p id="title">소개</p>
                    </div>
                    <div >
                        <p id="max_guest">제한인원</p>
                    </div>
                    <div >
                        <p id="amount">참가비</p>
                    </div>
                    <div >
                        <p id="content">내용</p>
                    </div>

                    <div >
                        <p id="participant_count">참가인원</p>
                    </div>
                    
                    <!-- <br><br>
                    haykelmkaddem@gmail.com
                    <br><br>
                    <b>Adresse :</b><br><br>
                    XX cité XXXXXX, Tunis.
                    <br><br>
                    <b>Numéro de téléphone : </b>
                    <br><br>
                    (+216) 28176222 -->
                  </div>
                  
                </div>
                  
                <div class="card-container">
                    <div class="contact-card">
                    <h2>Haykel Mkaddem</h2>
                    <div >
                        <p id="date">워크샵 날짜</p>
                    </div>

                    <h3 class="icon-3d">
                      ( Ingénieur informatique )
                    </h3>
                  </div>
                  <div class="contact-card">
                    <h1>réseaux sociaux :</h1>

                    <div >
                        <p id="location">지역</p>
                    </div>
                    <div >
                        <p id="address">주소</p>
                    </div>

                    <div class="flex-center">
                       <a href="">
                        <i class='bx bxl-facebook icon-3d'></i>
                       </a>
                       <a href="">
                        <i class='bx bxl-instagram icon-3d' ></i>
                       </a>
                       <a href="">
                        <i class='bx bxl-twitter icon-3d' ></i>
                       </a>
                       <a href="">
                        <i class='bx bxl-linkedin icon-3d' ></i>
                       </a>
                       <a href="">
                        <i class='bx bxl-github icon-3d' ></i>
                       </a>
                    </div>
                    </div>
                    <div class="contact-card">
                        
                        <!-- <div id="review_list">
                          후기댓글
                      </div> -->
                      <div class="parent-container animate-parent is-visible" style="height: 500px;">
                        <!-- input -->
                        <!-- <div class="input-element-wrapper float-up">
                          before
                          <label class="label-wrapper field-label">Text Field</label>
                          <input class="input-wrapper">
                        </div>
                        <! END: input -->
                        <!-- TEXTarea -->
                        <!-- <div class="another-wrapper float-up">
                          before
                          <div class="text-area-wrapper animate-textarea float-up">
                            <label class="text-area-wrapper__label field-label">Multi-line Field</label>
                            <div class="text-field-wrapper">
                              <textarea class="text-field-wrapper__field-box textarea-wrapper" rows="1" style="height: 30px;"></textarea>
                            </div>
                          </div>
                        </div>
                        END:TEXTarea 

                        <! -comment box -->
                        
                        <!-- END: comment box -->
                        <!-- View more box -->
                        <div class="view-more-wrapper">
                          <div class="view-more">
                            <a class="view-more__link show-comments" href="#">View comments</a>
                            <span class="view-more__count display-count">0</span>     
                          </div>
                          <div class="view-more-comments" style="display: block;">
                            <div class="comment-box-wrapper">
                              <!-- <a class="comment-box-wrapper__link open-comment-box" href="#">Add a comment</a> -->
                              <div class="comment-area comment-box active">
                                <form class="comment-form">
                                  <input id="review_post" class="comment-form__field comment-field">
                                  <button class="comment-form__submit submit-comment" onclick="workshop_review_POST()">Comment</button>
                                </form>
                              </div>
                            </div>

                          <!-- <div class="font_">
                            <ul  id="list" class="comment-list" style>
                              <li id="review_list" class="comment-wrapper comments">
                                <div id="user">닉네임</div>
                                <p id="review" class="comment-wrapper__comment">댓글</p> 
                                <span id="created_at">생성일</span>
                                <p id="updated_at">엡데이트일</p>
                              </li>
                                 <div class="comment-actions">
                                  <a class="fa fa-times comment-actions__delete delete-comment" href="#"></a>
                                </div>
                              
                            </ul>
                          </div> --> 

                         <div id="list" class="comment-list">
                           <!-- <div id="review_list" class="comment">
                              <div id="user" class="comment-header">닉네임</div>
                              <p id="review" class="comment-body">내용</p>
                              <span id="created_at">생성일</span>
                              <div id="updated_at">엡데이트일</div>
                              <div class="comment-footer">
                                <button onclick="review_delete()">삭제버튼</button>
                                <button onclick="review_put()" > 수정버튼</button>
                              </div>
                            </div>-->
                          </div> 






                          </div>

                        </div>










                      </div>
                      
                      <!-- <b>E-mail :</b>
                      <br><br>
                      haykelmkaddem@gmail.com
                      <br><br>
                      <b>Adresse :</b><br><br>
                      XX cité XXXXXX, Tunis.
                      <br><br>
                      <b>Numéro de téléphone : </b>
                      <br><br>
                      (+216) 28176222 -->
                    </div>
                  </div>








                </div>

                
        </div>

    <!-- <script src="workshop_detail.js"></script> -->
    <script src="../../global.js"></script>
    <script src="../../js/main/workshop_api.js"></script>
    <script src="../../js/main/workshop_detail.js"></script>
</body>
</html>