<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workshop</title>
    <script src="../../global.js"></script>
    <script src="../../js/main/workshop_api.js"></script>
    <script src="../../js/main/workshop.js"></script>
    <link rel="stylesheet" href="../../css/main/workshop.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">네비게이션 바</div>
    <div class="summary">서비스 소개글과 이미지</div>

    <section class="main">
        <section class="category">
            <div class="menubar">
                <span class="select_menu">Workshop</span>
                <span class="menu">Community</span>
                <span style="float: right; margin: auto;">
                    <span class="sort">최신순</span>
                    <span class="sort">인기순</span>
                </span>
            </div>
            <div class="hobbys">
                <button type="button" class="hobby">핸드메이드</button>
                <button type="button" class="hobby">쿠킹</button>
                <button type="button" class="hobby">플라워/가드닝</button>
                <button type="button" class="hobby">드로잉</button>
                <button type="button" class="hobby">음악</button>
                <button type="button" class="hobby">요가/필라테스</button>
                <button type="button" class="hobby">레저/스포츠</button>
                <button type="button" class="hobby">뷰티</button>
                <button type="button" class="hobby">반려동물</button>
                <button type="button" class="hobby">체험</button>
                <button type="button" class="hobby">자기계발</button>
            </div>
        </section>
        
        <div class="sub_info">부가정보(전체카테고리 좋아요 top10 / 각 취미 카테고리 소개글)</div>
        <section class="content">
            <div class="gridbox" id="gridbox">
                <div class="workshop" style="background-color: #ffffff;">
                    <div class="workshop_img_frame">
                        <img class="workshop_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ_Rk0RYE5Wpe1RzOK1FgkVBojQGQgd8zbog&usqp=CAU">
                    </div>
                    <div class="title">한강 완주하기</div>
                    <div class="local">강원도</div>
                </div>
                <div class="workshop">content2</div>
                <div class="workshop">content3</div>
                <div class="workshop">content4</div>
                <div class="workshop">content5</div>
                <div class="workshop">content6</div>
                <div class="workshop">content7</div>
                <div class="workshop">content8</div>
                <div class="workshop">content7</div>
                <div class="workshop">content8</div>
                <div class="workshop">content8</div>
                <div class="workshop">content8</div>
            </div>
            <div class="pagination">페이지네이션 번호 (1, 2, 3 ...)</div>
        </section>
    </section>
    <footer class="footer">copyrightⓒ 2022 All rights reserved by team HOT6.</footer>
</body>
</html>