/* 워크샵 + 페이지네이션 묶음 */
.content{
    margin-top: 30px;
}

/* 커뮤니티 아티클 start*/
.article-box{
    height: auto;
}

.btn {
    float: right;
}

#article_id {
    color: #0d6efd;
}

#article_id:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}