/* top10 워크샵 / 카테고리 소개 */
.sub_info{
    /* background-color: rgb(228, 228, 228); */
    height: auto;    
}

.info_title{
    /* background-color: #4d94ff; */
    margin: auto;
    font-size: 1.22rem;
    font-weight: 600;

}

/* 인기 워크샵 카드 */

.popular_workshops_wrap{
    /* background-color: #f3f3f3; */
    height: auto;
    overflow: auto;
    white-space: nowrap;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;

}

.popular_workshops_wrap::-webkit-scrollbar{
    height: 4px;
    /* display: none; */
}

.popular_workshops_wrap::-webkit-scrollbar-thumb{
    height: 30%;
    background: #dddddd; 
    border-radius: 10px;
}

.popular_workshops_wrap::-webkit-scrollbar-track{
    background: #f3f3f3;  /*스크롤바 뒷 배경 색상*/
}

.popular_workshop{
    /* background-color: #5561cf; */
    width: 200px;
    height: auto;
    float: left;
    cursor: pointer;
    margin: 0 2.4rem 0 0;
    /* overflow:hidden;
    word-wrap:break-word; */
}

.popular_workshop_img_frame{
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 3%;
    border: 1px solid #DADADA;
}

.popular_workshop_img{
    background-color: #f1f1f1;
    width:100%;
    height:100%;
    object-fit:cover;
}

.popular_workshop_hobby{
    font-size: 0.9rem;
    text-align: center;
}

.popular_workshop_title{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}


/* 워크샵 + 페이지네이션 묶음 */
.content{
    margin: 30px auto;
}

/* 워크샵 묶음 */
.gridbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}

/* 워크샵 카드 */
.workshop{
    min-height: 260px;
    /* background-color: aquamarine; */
    z-index: 0;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    padding: 10px;
    height: 370px;
    /* max-height: 450px; */
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #e2e2e2;
}

.workshop_img_frame{
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 0.4rem;
    margin-bottom: 3%;
    border: 1px solid #DADADA;
}

.workshop_img{
    background-color: #f1f1f1;
    width:100%;
    height:100%;
    object-fit:cover;
}

.title{
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.location{
    color: #6d6d6d;
}

.hobby_category{
    color: #ffffff;
    background-color: #4d94ff;
    border-radius: 0.3rem;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    font-size: 0.94rem;
}

.date{
    color: #7e7e7e;
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 15px;
}