.mypage-rightside {
    width: 600px;
    height: 800px;
    margin: 100px 50px auto auto;
}

.mypage-selectedhobby {
    margin-top: 50px;
    width: 600px;
    height: 200px;
}

.mypage-appliedworkshop {
    margin-top: 50px;
    width: 600px;
    height: 200px;
}

.mypage-appliedworkshop {
    margin-top: 50px;
    width: 600px;
    height: 200px;
}

.mypage-createdworkshop {
    margin-top: 50px;
    width: 600px;
    height: 200px;
}


/* 마이페이지 - 내가 선택한 취미 카테고리 버튼 */

.btn-selectedhobby-1 {
    background-color: rgb(152, 230, 230);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-2 {
    background-color: rgb(117, 198, 163);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-3 {
    background-color: rgb(135, 132, 228);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-4 {
    background-color: rgb(232, 234, 156);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-5 {
    background-color: rgb(210, 130, 185);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-6 {
    background-color: rgb(228, 134, 141);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-6 {
    background-color: rgb(237, 183, 122);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-7 {
    background-color: rgb(61, 141, 179);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-8 {
    background-color: rgb(175, 212, 159);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-9 {
    background-color: rgb(234, 175, 194);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-10 {
    background-color: rgb(150, 91, 170);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-11 {
    background-color: rgb(85, 227, 240);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}

.btn-selectedhobby-12 {
    background-color: rgb(224, 99, 132);
    border-color: transparent;
    height: 35px;
    border-radius: 7px 7px 7px 7px;
}