
body {
    margin: 0;
}

.navbar{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 4vh;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.service_name{
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    padding-left: 6px;
    position: relative;
    top: -4.5px;

}

.nav_menu{
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    padding: 8px 30px;
 
}

.nav_menu li{
    padding: 0px 10px;
    position: relative;
    top: -1px;
    color: #7e7e7e;
    padding-right: 0;
}